name: YouTD

on:
  push:
    # Sequence of patterns matched against refs/heads
    branches:    
      - main
    # Sequence of patterns matched against refs/tags
    tags:        
      - v*

jobs:
  build_client:
    runs-on: ubuntu-latest
    name: Build Client
    steps:
    - name: Checkout
      uses: actions/checkout@v3.0.2
      # Ensure that you get the entire project history
      with:
        fetch-depth: 0
    # Automatically stores the tag name for later use
    - name: Get tag from version
      id: tag_version
      run: |
          echo "TAG_VERSION=$GITHUB_REF_NAME" >> $GITHUB_OUTPUT
    - name: Export game
      id: export
      # Use latest version (see releases for all versions)
      uses: firebelley/godot-export@v4.7.0
      with:
        godot_executable_download_url: https://github.com/godotengine/godot/releases/download/4.0-stable/Godot_v4.0-stable_linux.x86_64.zip
        godot_export_templates_download_url: https://github.com/godotengine/godot/releases/download/4.0-stable/Godot_v4.0-stable_export_templates.tpz
        relative_project_path: ./
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Set env NEED
      run: |
        if [[ ${{ steps.tag_version.outputs.TAG_VERSION }} =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]] ; then
            echo "NEED=true" >> "$GITHUB_ENV"
        else
            echo "NEED=false" >> "$GITHUB_ENV"
        fi
    - uses: actions/upload-artifact@v3
      if: env.NEED == 'true'
      with:
        name: youtd-${{ steps.tag_version.outputs.TAG_VERSION }}
        path: ${{ steps.export.outputs.build_directory }}/HTML5/*
    outputs:
      tag_version: ${{ steps.tag_version.outputs.TAG_VERSION }}
      need_release: ${{ env.NEED }}

  create_release:
    runs-on: ubuntu-latest
    name: Create Release
    needs: build_client
    if: needs.build_client.outputs.need_release == 'true'
    steps:
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v3
      with:
        name: youtd-${{ needs.build_client.outputs.tag_version }}
    - name: Release client
      uses: ncipollo/release-action@v1.11.2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        generateReleaseNotes: true
        tag: ${{ needs.build_client.outputs.tag_version }} # Note that the 'v' in front was necessary to get this action attach artifacts to the tag
        artifacts: ./*
    - name: Deploy to github pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: .